<div class="sidebar-container">
  <div id="sidebar" class="sidebar text-bg-dark">
    <div id="toggleBtn" class="toggle-btn">←</div>
    <div id="i2bfh" class="sidebar-content pt-3">
      <h4 class="mt-2 d-flex text-white align-items-baseline">
        <img src="./logo_white.svg" class="me-xxl-2 ms-xxl-1" />
        <span id="ieli7">AG Grid</span>
      </h4>
      <div id="iz0of-2" class="mb-2">
        <a
          href="#/"
          id="i2bct-2"
          class="text-white link-underline link-underline-opacity-0 d-flex align-items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
            icon-filter="hou"
            id="ij7e1"
            class="bi bi-house-door me-2"
          >
            <path
              d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"
            ></path>
          </svg>
          <span>Home</span>
        </a>
      </div>
      <div class="mb-2">
        <a
          href="#/help"
          id="io8tp"
          class="text-white link-underline link-underline-opacity-0 d-flex align-items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
            icon-filter="life"
            class="bi bi-life-preserver me-2"
          >
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m6.43-5.228a7.03 7.03 0 0 1-3.658 3.658l-1.115-2.788a4 4 0 0 0 1.985-1.985zM5.228 14.43a7.03 7.03 0 0 1-3.658-3.658l2.788-1.115a4 4 0 0 0 1.985 1.985zm9.202-9.202-2.788 1.115a4 4 0 0 0-1.985-1.985l1.115-2.788a7.03 7.03 0 0 1 3.658 3.658m-8.087-.87a4 4 0 0 0-1.985 1.985L1.57 5.228A7.03 7.03 0 0 1 5.228 1.57zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
            ></path>
          </svg>
          <span>Documentation</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div
  id="mainContent"
  class="main-content flex-grow-1 d-flex flex-column h-100 bg-light"
>
  <z-sub-view class="flex-grow-1"></z-sub-view>
</div>
